.achievements {
	background-color: $bg-dark;
}

.achievements__list {
	display: flex;
	justify-content: space-between;
}

.achievements__item {
	text-align: center;
	vertical-align: middle;
}

.achievements__item-title {
	@include text(50px,62px,400,$basic-white);
	text-align: center;
}

.achievements__item-text {
	@include text(30px,37px,500,$basic-white);
	text-transform: uppercase;
	margin-top: 8px;
}