.page-footer {
	display: flex;
	justify-content: flex-start;

	@include main-text;
	padding: 37px 100px;
}

.page-footer__contact {
	margin-right: 42px;
}

.page-footer__address {
	margin-right: auto;
}