.page-main__company {
	margin-top: 65px;
}

.page-main__works {
	padding: 65px 100px;
}

.page-main__team {
	padding: 50px 182px 0 181px;
}

.page-main__procedures {
	padding: 0 100px 80px 99px;
	margin-top: 35px;
}

.page-main__reviews {
	padding: 65px 283px;
}

.page-main__request {
	padding: 50px 711px 186px 181px;
}
