.procedures {
	text-align: center;
}

.procedures__title {
	@include text(40px,50px,400,$text1);
	text-transform: uppercase;
}

.procedures__wrapper {
	margin-top: 130px;
}

.procedures__list {
	display: grid;
	grid-template-columns: repeat(4,285px);
	column-gap: 20px;
	counter-reset: number;
}

.procedures__item {
	position: relative;

	@include main-text;
	&::before {
		position: absolute;
		content: counter(number);
		counter-increment: number;
		top: -70px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 15;
		@include text(30px,30px,500,$basic-white);
	}

	&::after {
		position: absolute;
		content: "";
		top: -90px;
		left: 50%;
		transform: translateX(-50%);
		width: 70px;
		height: 70px;
		background-color: $bg-dark;
		border-radius: 50%;
	}
}